.explore-title {
  background-color: #333333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  margin-bottom: 1rem;
  width: 100vw; /* Cover the entire viewport width */
  margin-left: calc(-50vw + 50%); /* Adjust to center the full-width section */
  position: relative; /* Maintain the context for margin adjustments */
}
.explore-container {
  background-color: #D9D9D9;
  padding: 20px;
}

.filters {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.league-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.league-card-img {
  flex: 1;
  object-fit: contain;
  max-height: 200px; /* Adjust the max height as needed */
}

.league-card .card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.league-card .card-title {
  font-size: 1rem; /* Adjust the font size as needed */
  margin-bottom: 0.5rem;
  white-space: nowrap; /* Prevents the text from wrapping */
  overflow: hidden; /* Ensures the overflow is hidden */
  text-overflow: ellipsis; /* Adds the ellipsis */
}

.league-card .card-text {
  font-size: 0.875rem; /* Adjust the font size as needed */
}

.league-row > .col-md-4 {
  margin-bottom: 20px;
}
