.league-detail-container {
    /* background-color: #AAAAAA; */
    background-color: #D9D9D9;
    padding: 20px;
    width: 100vw; /* Cover the entire viewport width */
    margin-left: calc(-50vw + 50%); /* Adjust to center the full-width section */
    position: relative; /* Maintain the context for margin adjustments */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.league-title {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
    width: 100vw; /* Cover the entire viewport width */
    margin-left: calc(-50vw + 50%); /* Adjust to center the full-width section */
    position: relative; /* Maintain the context for margin adjustments */
}

.league-description {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    width: 100%; /* Ensure full width */
    max-width: 1200px; /* Set a maximum width */
}

.table-container {
    width: 100%; /* Ensure full width */
    max-width: 1200px; /* Set a maximum width */
}

.table {
    width: 100%; /* Ensure full width */
    border-radius: 5px;
    overflow: hidden; /* Ensure the rounded corners are applied */
}

.table th, .table td {
    border: none; /* Remove default border */
    white-space: nowrap; /* Prevent text from wrapping */
}

.table thead th {
    background-color: #f1f1f1;
}

.btn-contact-manager {
    background-color: #333333; /* Match the color of other buttons */
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.btn-contact-manager:hover {
    background-color: #555555; /* Slightly lighter on hover */
}
